body
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Verdana, Arial, Serif, sand-serif;
    color:#bd2121
}

table
{
    text-align:left;
    border-spacing:1;
    overflow:auto;
    background-color: #dedbdb; 
    border-color:#010000 ;
    color:#010000
}
th
{
   border-top: 1px solid #999;
   border-bottom: 1px solid #999;
   border-right: 1px solid #999;
   font-size:15px;
   color:#bd2121
}
td 
{
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
	font-size:13px;
}
.table1
{
    border-color: white;
    overflow:auto;
    background-color: white
}
.th1 
{
    border-color: white;
	font-size: 15px;
    font-style: italic;
    padding-left: 10px;
}
.td1 
{
    border-color: white;
    font-size: 15px;
    font-style: italic
}
hr
{
   color:#bd2121
}
a {
color:#C64934;
font-family:sans-serif;
font-size:13px;
text-decoration:none;
}
a:link, a:visited 
{
	color:#C64934;
	text-decoration:none;
}

