# -*- encoding: utf-8 -*-

from buildbot import master
__hush_pyflakes = [master]

import sys
import os
sys.path.append(os.path.abspath(basedir))

from bbot_oe import master_keeper

dsn = {
    'proto': 'http',
    'dbname': 'buildbot',
    'host': 'localhost',
    'port': 8069,
    'user': 'buildbot',
    'passwd': 'secret',
    }

cfg = {
    'projectName': "Buildbot-XRG",
    'buildbotURL': "http://pefnos3.homelinux.org/"
    }

BuildmasterConfig = master_keeper.getKeeper(dsn, cfg)
BuildmasterConfig.reset()

#eof