{%- block doctype -%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% endblock %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="index, follow" name="robots"/>
    {% if metatags %}
      {{ metatags }}
    {% endif %}
    {% if refresh %}
      <meta http-equiv="refresh" content="{{ refresh|e }}"/>
    {% endif %}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ stylesheet }}" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ path_to_root }}rss">

    <link rel="stylesheet" href="{{ path_to_root }}css/styles.css" type="text/css" />
    <link type="{{ path_to_root }}image/x-icon" rel="shortcut icon" href="{{ path_to_root }}sfavicon.ico"/>
    <!-- Open Object Css File Start -->
    <link type="text/css" href="{{ path_to_root }}css/style.css" rel="stylesheet"/>
    <link type="text/css" href="{{ path_to_root }}css/listgrid.css" rel="stylesheet"/>
    {% endblock %}
  </head>
  <body class="interface">

    {%- block barecontent -%}
        {%- block content -%}
        {%- endblock -%}
    {%- endblock -%}
  </body>
</html>
