{%- block doctype -%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% endblock %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="index, follow" name="robots"/>
    {% if metatags %}
      {{ metatags }}
    {% endif %}
    {% if refresh %}
      <meta http-equiv="refresh" content="{{ refresh|e }}"/>
    {% endif %}
    <title>Software Development Server</title>
    <link rel="stylesheet" href="{{ stylesheet }}" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ path_to_root }}rss">

    <link rel="stylesheet" href="{{ path_to_root }}css/styles.css" type="text/css" />
    <link type="{{ path_to_root }}image/x-icon" rel="shortcut icon" href="{{ path_to_root }}sfavicon.ico"/>
    <!-- Open Object Css File Start -->
    <link type="text/css" href="{{ path_to_root }}css/style.css" rel="stylesheet"/>
    <link type="text/css" href="{{ path_to_root }}css/listgrid.css" rel="stylesheet"/>
    <link type="text/css" href="{{ path_to_root }}css/dashboard.css" rel="stylesheet"/>
    {% endblock %}
  </head>
  <body class="interface">
    {% block header -%}
    <div>
        <!-- TODO: may need to be reviewed -->
        <a href="{{ path_to_root or '.' }}">Home</a>
        <a href="{{ path_to_root }}latestbuilds">Latest builds</a>
        <a href="{{ path_to_root }}grid">Grid</a>
        <a href="{{ path_to_root }}tgrid">T-Grid</a>
        <a href="{{ path_to_root }}console">Console</a>
        <a href="{{ path_to_root }}builders">Builders</a>
        <a href="{{ path_to_root }}one_line_per_build">Recent Builds</a>
        <a href="{{ path_to_root }}buildslaves">Buildslaves</a>
        <a href="{{ path_to_root }}changes">Changesources</a>
        - <a href="{{ path_to_root }}about">About</a>
    </div>
    {% endblock %}

    {%- block barecontent -%}
    <hr/>

    <div class="content">
      {%- block content -%}
      {%- endblock -%}
    </div>
    {%- endblock -%}

    {%- block footer -%}
    <div class="footertext">
	    Technology &copy; 2001-2010 <a href="http://www.openerp.com">OpenERP SA</a>. Released under AGPLv3<br/>
	    OpenERP and OpenObject are trademarks of OpenERP SA.<br/>
	    Current development &copy; 2010-2011 P. Christeas (aka. xrg)
    </div>
    {% endblock -%}
  </body>
</html>
