{% extends 'layout.html' %}
{% import 'forms.html' as forms %}

{% block content %}

  <div style="clear: both;float:right;"></div>
    <div id="content1" style="height:250px; border:medium; width:100%;">
        <table border="0">
            <tr style="vertical-align:top">
                <td colspan="2">
                    <table style="width:100%">
                      <tr style="vertical-align:top">
                          <td style="width:33%;">
                              <table width="100%">
                                  <tr class="header" style="vertical-align:top">
                                      <td style="border-bottom: 1px solid #999;width=100%">
                                         <span style="font-weight: bold;font-size: 20px;"><b>Teams</b></span>
                                         <span><a href="images/dev_planning.png" target="blank" title="Team Structure in Development"><img src="images/partner.jpg" /></a></span>
                                      </td>
                                  </tr>
                                <tr>
                                      <td>
                                          <table width="100%" class="grid">
                                            <tr class="grid-row2">
                                                  <td class="grid-cell2">
                                                      <a href="https://launchpad.net/~openerp-community" ><span style="font-weight: bold;font-size: 15px;">Community</span></a>
                                                  </td>
                                                  <td style="text-align: right" class="grid-cell2">
                                                      <a href="https://launchpad.net/~openerp-community/+join" title="Join - Everyone can join the community and start developping modules in the addons-community branch">Join</a>
                                                  </td>
                                            </tr>
                                            <tr class="grid-row2">
                                                  <td class="grid-cell2">
                                                      <a href="https://launchpad.net/~openerp-commiter" ><span style="font-weight: bold;font-size: 15px;">Commiters</span></a>
                                                  </td>
                                                  <td style="text-align: right" class="grid-cell2">
                                                    <a href="https://launchpad.net/~openerp-commiter/+join" title="Join - After having pushed at least 2 community modules on Launchpad, you can apply for the commiters team. We will review your code quality and provide feedback. Commiters can develop in addons-extra branch.">Join</a>
                                                  </td>
                                            </tr>
                                            <tr class="grid-row2">
                                                <td class="grid-cell2">
                                                    <a href="https://launchpad.net/~openerp-drivers" ><span style="font-weight: bold;font-size: 15px;">Drivers</span></a>
                                                </td>
                                                <td style="text-align: right" class="grid-cell2">
                                                    <a href="https://bugs.launchpad.net/openobject/+bugs?field.searchtext=&orderby=-importance&search=Search&field.status%3Alist=NEW&assignee_option=any&field.assignee=&field.bug_reporter=&field.bug_supervisor=&field.bug_commenter=&field.subscriber=&field.omit_dupes.used=&field.omit_dupes=on&field.has_patch.used=&field.has_cve.used=&field.tag=&field.tags_combinator=ANY" title="Drivers have to planify and confirm/invalidate bugs.">Planify Bugs</a>
                                                  </td>
                                            </tr>
                                            <tr class="grid-row2">
                                                <td class="grid-cell2">
                                                    <a href="https://launchpad.net/~openerp" ><span style="font-weight: bold;font-size: 15px;">Quality Team</span></a>
                                                </td>
                                                <td style="text-align: right" class="grid-cell2">
                                                    <a href="https://code.launchpad.net/openobject-addons/+activereviews" title="Are responsible of the official release, they can do merge proposals from others.">Merge Proposals</a>
                                                  </td>
                                            </tr>
                                            <tr class="grid-row2">
                                                <td class="grid-cell2" colspan="2">
                                                    <a href="https://translations.launchpad.net/+groups/openobject-translators" ><span style="font-weight: bold;font-size: 15px;">Translation Teams</span></a>
                                                </td>
                                            </tr>
                                        </table>
                                        </td>
                                    </tr>
                              </table>
                           </td>
                        <td style="width:33%;">
                            <table width="100%">
                                <tr class="header" style="vertical-align:top">
                                    <td style="border-bottom: 1px solid #999;width=100%">
                                         <span style="font-weight: bold;font-size: 20px;">Projects</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" class="grid">
                                          <tr class="grid-row2">
                                              <td class="grid-cell2">
                                                  <a href="https://launchpad.net/openobject"><span style="font-weight: bold;font-size: 15px;">All Projects</span></a></td><td style="text-align: right" class="grid-cell2">
                                              </td>
                                          </tr>
                                          <tr class="grid-row2">
                                              <td class="grid-cell2">
                                                  <a href="https://launchpad.net/openobject-server"><span style="font-weight: bold;font-size: 15px;">OpenObject Server</span></a></td><td style="text-align: right" class="grid-cell2"><a href="https://code.launchpad.net/openobject-server"><img title="Bazaar Branches" src="images/branch.png"/></a>&nbsp;<a href="https://bugs.launchpad.net/openobject-server"><img title="Bugs Management" src="images/bug.png"/></a>&nbsp;<a href="https://blueprints.launchpad.net/openobject-server"><img title="Blueprints" src="images/blueprint.png"/></a>&nbsp;<a href="https://translations.launchpad.net/openobject-server"><img title="Translations" src="images/translation.png"/></a>&nbsp;<a href="https://answers.launchpad.net/openobject-server"><img title="Questions-Answers" src="images/question.png"/></a>
                                              </td>
                                          </tr>
                                          <tr class="grid-row2">
                                              <td class="grid-cell2">
                                                   <a href="https://launchpad.net/openobject-addons"><span style="font-weight: bold;font-size: 15px;">OpenObject Addons</span></a></td><td style="text-align: right" class="grid-cell2"><a href="https://code.launchpad.net/openobject-addons"><img title="Bazaar Branches" src="images/branch.png"/></a>&nbsp;<a href="https://bugs.launchpad.net/openobject-addons"><img title="Bugs Management" src="images/bug.png"/></a>&nbsp;<a href="https://blueprints.launchpad.net/openobject-addons"><img title="Blueprints" src="images/blueprint.png"/></a>&nbsp;<a href="https://translations.launchpad.net/openobject-addons"><img title="Translations" src="images/translation.png"/></a>&nbsp;<a href="https://answers.launchpad.net/openobject-addons"><img title="Question-Answers" src="images/question.png"/></a>
                                              </td>
                                          </tr>
                                          <tr class="grid-row2">
                                              <td class="grid-cell2">
                                                   <a href="https://launchpad.net/openobject-client"><span style="font-weight: bold;font-size: 15px;">OpenObject Application Client</span></a></td><td style="text-align: right" class="grid-cell2"><a href="https://code.launchpad.net/openobject-client"><img title="Bazaar Branches" src="images/branch.png"/></a>&nbsp;<a href="https://bugs.launchpad.net/openobject-client"><img title="Bugs Management" src="images/bug.png"/></a>&nbsp;<a href="https://blueprints.launchpad.net/openobject-client"><img title="Blueprints" src="images/blueprint.png"/></a>&nbsp;<a href="https://translations.launchpad.net/openobject-client"><img title="Translations" src="images/translation.png"/></a>&nbsp;<a href="https://answers.launchpad.net/openobject-client"><img title="Question-Answers" src="images/question.png"/></a>
                                              </td>
                                          </tr>
                                          <tr class="grid-row2">
                                              <td class="grid-cell2">
                                                   <a href="https://launchpad.net/openobject-client-web"><span style="font-weight: bold;font-size: 15px;">OpenObject Web Client</span></a></td><td style="text-align: right" class="grid-cell2"><a href="https://code.launchpad.net/openobject-client-web"><img title="Bazaar Branches" src="images/branch.png"/></a>&nbsp;<a href="https://bugs.launchpad.net/openobject-client-web"><img title="Bugs Management" src="images/bug.png"/></a>&nbsp;<a href="https://blueprints.launchpad.net/openobject-client-web"><img title="Blueprints" src="images/blueprint.png"/></a>&nbsp;<a href="https://translations.launchpad.net/openobject-client-web"><img title="Translations" src="images/translation.png"/></a>&nbsp;<a href="https://answers.launchpad.net/openobject-client-web"><img title="Question-Answers" src="images/question.png"/></a>
                                              </td>
                                          </tr>
                                        </table>
                                    </td>
                                 </tr>
                            </table>
                         </td>
                         <td style="width:25%;">
                           <table width="100%" border=0>
                                <tr style="vertical-align:top">
                                    <td style="border-bottom: 1px solid #999;width=100%">
                                         <span style="font-weight: bold;font-size: 20px;"><b>Documents</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="grid">
                                          <tr class="grid-row2">
                                            <td class="grid-cell2">
                                                  <a href="doc/community-final.pdf"><span style="font-weight: bold;font-size: 15px;">The Open Object Community</span></a>
                                          </td>
                                          </tr>
                                          <tr class="grid-row2">
                                            <td class="grid-cell2">
                                                <a href="doc/release_series_milestones.pdf"><span style="font-weight: bold;font-size: 15px;">Series, milestones and release Management</span></a>
                                            </td>
                                          </tr>
                                          <tr class="grid-row2">
                                            <td class="grid-cell2">
                                              <a href="doc/code_control_process.pdf"><span style="font-weight: bold;font-size: 15px;">Development Process and Quality Control</span></a>
                                            </td>
                                          </tr>
                                        </table>
                                    </td>
                                </tr>
                           </table>
                         </td>
                   </tr>
                </table>
              </td>
            </tr>
            <tr class="header" style="vertical-align:top">
                <td  style="width:100%;padding: 2px 4px; colsapn='2'">
                    <table width="100%">
                       <tr style="vertical-align:top">
                            <td style="border-bottom: 1px solid #999;width=100%">
                                <span style="font-weight: bold;font-size: 20px;">Automated Tests</span>
                            </td>
                        </tr>
                        <tr height="2px">
                            <td></td>
                        </tr>
                        <tr><td>
                                <table class="grid" width="100%" id="latest_builds">
                                    <tr class="header" style="vertical-align:center font-size: 18px;">
                                        <td class="grid-cell" align="center">Branches / Builds</td>
                                        <td class="grid-cell" align="center" >Build: Last</td>
                                        {% for col in range(num_cols-1) %}
                                        <td class="grid-cell" align="center" >Build: {{ -1 - col }}</td>
                                        {% endfor %}
                                        <td class="grid-cell" align="center">Current Status</td>
                                    </tr>
                                        
                                    {% for bldr in builders %}
                                    <tr class='grid-row'>
                                        <td class="grid-cell" align="center">
                                            <a href="{{ bldr.url }}">{{ bldr.name }}</a>
                                        </td>
                                        {% for b in bldr.builds %}
                                            <td align="center" class="{{ b.class_b }}">
                                                <a href="{{ b.url }}" title="{{ b.ttitle }}">{{ b.label }}</a><br/>
                                                {{ b.last_t }}
                                            </td>
                                        {% endfor %}
                                        {% for build in range(num_cols - bldr.builds.__len__()) %}
                                        <td class="grid-cell" />
                                        {% endfor %}
                                        <td class="grid-cell" align="center">{{ bldr.status }}
                                    </tr>
                                    {% endfor %}
                                    </table>

                        </td> </tr>
                        <tr>
                            <td width="100%">
                                <table width="100%">
                                    <tr>
                                       <td><a href="https://launchpad.net/openobject-addons/+filebug"><img src="images/report_bug.gif"/></a>
                                       </td>
                                       <td><a href="https://launchpad.net/openobject-addons/+addquestion"><img src="images/askaquestion.gif"/></a>
                                       </td>
                                       <td><a href="https://translations.launchpad.net/openobject-addons"><img src="images/helptranslate.gif"/></a>
                                       </td>
                                   </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>


{% endblock %}
