td.Event, td.BuildStep, td.Activity, td.Change, td.Time, td.Builder {
    border-top: 2px solid;
    border-right: 2px solid;
}

td.box {
       border: 2px solid;
}

/* Activity states */
.offline { 
        background-color: white;
}
.idle {
	background-color: white;
}
.waiting { 
        background-color: white;
}
.building { 
        background-color: white;
}

/* LastBuild, BuildStep states */
.success {
	background-color: white;
}
.failure {
	background-color: white;
}
.warnings {
	background-color: white;
}
.exception {
	background-color: white;
}
.start,.running {
	background-color: white;
}
